body {
    font-family: Arial, sans-serif;
    background-image:url("/To_do_list.png");
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 400px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    text-align: center;
    color: #333;
  }
  
  form {
    margin-bottom: 20px;
  }
  
  input[type="text"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    font-size: 16px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    display: flex;
    align-items: center;
  }
  
  li:last-child {
    border-bottom: none;
  }
  
  .delete-btn {
   
    background-color: #ff4d4d;
    color: #fff;
    border: none;
    margin-left: auto;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  